*{
    margin : 0;
    padding : 0 ;
    font-family: 'Poppins', sans-serif;
}

#banner {
    background-image: linear-gradient(  rgba(0,0,0,0) ,rgba(119 ,219 ,219 , 0.5)  ) ,linear-gradient(rgba(255, 20, 147 ,0.5) ,  rgba(0,0,0,0)) , url(imgs/slider1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

#banner .logo{
    height: 45px;
    position: absolute;
    top: 3%;
    left: 10%;
}
.banner-txt{
    position: absolute;
    top: 45%;
    left: 20%;
    text-align: center;
    opacity: 0.9;
}

.banner-txt h1 {
    font-size: 90px;
    color:#fff;
    font-family: 'Kaushan Script', cursive; ;
}

.banner-txt p {
    font-size : 30px;
    color: #fff;

}

.banner-txt a{
    text-decoration: none;
    padding: 15px;
    margin: 15px;
    display: inline-block;
    border: 0.5px solid #fff;
    color:#fff;
    position: relative;
    transition: 0.5s ease-in-out;
    z-index: 1;
}

.banner-txt a span{
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #fff;
    transition: 0.5s ease-in-out;
    z-index: -1;
}
.banner-txt a:hover span{
    width: 100%;
}
.banner-txt a:hover {
    color: black;
}

.sidenav{
    position: absolute;
    height: 100vh;
    z-index: 2;
    right: 0;
    top: 0; 
    background-color: #009688;
    width: 0px;
    text-align: center;
    transition: 0.5s ease-in-out;
    
}

.sidenav ul {
    position: fixed;
}
.sidenav ul li 
{
    list-style: none;
    margin: 20px;
    padding: 20px;
    margin-top: 25%;
    
}
.sidenav ul li a{
    text-decoration: none;
    color: #fff;

}

.menu-btn {
    position: absolute;
    top : 6%;
    right: 4%;
    background-color: #009688;
    width: 25px;
    padding: 10px;
    z-index: 3;
    cursor: pointer;
}

.img-gallery{
    width:600px;
    height: 100vh;
    margin-top: 25%;
    margin-left : 50% ;
    /* overflow: hidden; */
    
}
.gallery{
     width: 100%;
     display: flex;
     border: 5px solid black;
}



/* (rgba(0,0,0,0) , #009abb */